<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head"></head>
<body>
<header th:replace="partials :: header"></header>
<div class="col-6">
    <h3 th:unless="${countries} and ${countries.size()}">No countries found.</h3>
    <table th:if="${countries.size()>0}" class="table table-hover">
        <th>Name</th>
        <tr th:each="country : ${countries}">
            <td th:text="${country.name}"></td>
            <td style="width:10%;"><a class="btn btn-info" th:href="@{'/countries/edit-country/'+${country.id}}">Edit</a></td>
            <td style="width:10%;"><a class="btn btn-danger" th:href="@{'/countries/delete/'+${country.id}}">Delete</a></td>
        </tr>
    </table>
</div>
<footer th:replace="partials :: footer"></footer>
</body>
</html>